body {}

h1, h2, h3 {}

h2 {
    margin: 0.5em 0;
}
h3 {
    margin: 0.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

.remark-code,
.remark-inline-code {
    font-size: 18px;
    font-family: monospace;
}
.remark-inline-code {
    display: inline-block;
    vertical-align: baseline;
    padding: 0.1em 0.5em;
    background: #F0F0F0;
}


.remark-slide-content {
    padding: 1em 3em;
    background: #fdfdfd;
    font-size: 1.4rem;
}

.remark-slide-content ul {
    line-height: 1.4;
}

#slide-begin {background: #fff;}
#slide-end {background: #000;}

#slide-ynh-help {}
#slide-ynh-help .remark-code {
    font-size: 0.9rem;
}

#slide-map {}
#slide-map ul {
    font-size: 1.8rem;
}

